.container {
    padding: 1.8vw 2vw 2vw 5.5vw;
}

.detailLayout {
    display: flex;
    gap: 2vw;
    align-items: stretch;
    flex-wrap: wrap;
    height: 77vh;

}

.detailTextBox {
    background-color: #f9f3ef;
    padding: 2vw;
    border-radius: 20px;
    justify-content: space-between;
    overflow-y: auto;
    scrollbar-width: thin;
    width: 45%;
}

.detailTextBox::-webkit-scrollbar {
    width: 0.5vw;
}
.detailTextBox::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}

.projectName {
    font-size: 2vw;
    color: #000;
    margin: 0;
}

.teamName {
    font-size: 1.1vw;
    margin-top: 0.5vw;
    color: #555;
    text-align: right;
    width: 100%;
}

.detailDivider {
    margin: 1vw 0;
    border: 0.5px solid #ccc;
}

.detailDescription {
    font-size: 1vw;
    color: #333;
    white-space: pre-line;
}

.memberBlock {
    display: block;
    gap: 2vw;
    font-size: 0.95vw;
    color: #444;
    padding-bottom: 8vw;

}

.memberBlock ul {
    margin: 0;
    padding-left: 1.2vw;
}

.qrBox {
    display: flex;
    justify-content: center;
}


.detailImageBox {
    width: 46.5%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}