.padContainer {
    position: absolute;
    z-index: 10;
    background:#fff;
    padding: clamp(8px,1.6vw,16px);
    border-radius: 12px;
    box-shadow: 0 10px 24px rgba(0,0,0,.18);
    border: 1px solid #e5e5e5;
    width: fit-content;
}

.padGrid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: clamp(180px, 50vw, 400px);
    gap: clamp(3px, 0.2vw, 14px);
}

.padBtn {
    aspect-ratio: 1 / 1;
    font-size: clamp(18px, 5vw, 60px);
    padding: 0;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: clamp(8px, 2vw, 12px);
    text-align: center;
    cursor: pointer;
}
.padBtn:active {
    background-color: #ddd;
}

.closeBtn {
    background-color: #4399b5b2;
    color: #fff;
}

.backspace {
    background-color: #4399b5b2;
    color: #fff;
}
