.layout {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    gap: 20px;
}


.container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1%;
}

.main {
    background-color: #FFFFFF;
    width: 80vw;
    height: 70vh;
    border-radius: 9px;
}
