.Button {
    height: 44px;
    width: 89px;
    background-color: #f3dac9b2;
    border-radius: 13.75px;
    border: none;
    cursor: pointer;
}

.activeButton {
    background-color: #d6b59fb2;
}

.buttonGroup {
    display: flex;
    gap: 8px;
    margin-bottom: 16px;
}

.calendarWrapper {
    /*display: flex;*/
    /*flex-direction: column;*/
    /*align-items: center;*/
}

.layout {
    display: flex;
    gap: 24px;
    align-items: flex-start;
}

.leftColumn {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.customHeader th {
    background-color: #EACDB7 !important;
    color: #333 !important;
}

.timeRow td {
    background-color: rgba(248, 239, 233, 0.5) !important;
}
.tableWrapper {
    flex: 1;
    min-width: 300px;
}

.timeRow {
    background-color: rgba(248, 239, 233, 0.5);
}

.reservationButton {
    text-align: center;
    margin-top: 24px;
}
