.notice-container {
    padding: 2.5vw 3vw;
    font-family: "pretendard", sans-serif;
}


.notice-header {
    display: flex;
    align-items: center;
    gap: 1vw;
    margin-bottom: 2vw;
}

.notice-header-icon {
    font-size: 3.5vw;
    color: #424242;
}

.notice-header-title {
    color: #424242;
    font-size: 2.5vw;
    font-weight: 700;
}

.notice-content {
    background-color: rgba(228, 217, 199, 0.51);
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 60.4167vw;
    height: 3.5417vw;
    margin-left: 9.2361vw;
    margin-top: 1.0vw;
    padding: 0 1vw;
    border-radius: 1.3889vw;
}

.notice-content-id {
    font-weight: bold;
    margin-right: 1vw;
    width: 3vw;
    text-align: center;
}

.notice-pin-icon {
    width: 1.2153vw;
    height: 1.2153vw;
    margin-right: 1.9vw;
    margin-left: 0.8vw;
}

.notice-content-title {
    flex-grow: 1;
    font-size: 1.2vw;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.notice-content-created-at {
    min-width: 6vw;
    text-align: right;
}

.notice-slide-group {
    margin-bottom: 5vw;
}