.modalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.modalContent {
    background: #f8efe9;
    padding: 1.6667vw;
    border-radius: 0.5556vw;
    width: 90vw;
    max-width: 33.3333vw;
    max-height: 80vh;
    overflow-y: auto;
}

.backButton {
    margin-bottom: 0.8333vw;
}

.createdAt {
    font-size: 0.8333vw;
}

.content {
    margin-top: 0.8333vw;
}

.backButton {
    margin-left: 30.8333vw;
}

.modal-notice-message {
    font-size: 1rem;
    text-align: center;
    padding: 2rem;
    color: #000000;
}

.modal-notice-content {
    font-size: 1rem;
    line-height: 1.6;
}

.qr-container {
    text-align: center;
    margin-top: 2rem;
}

.qr-container p {
    font-size: 0.95rem;
    margin-bottom: 1rem;
    color: #fff8f8;;
}
